# Python
__pycache__/
*.pyc
*.pyo
.env

# Data & Models (too large for git)
data/
models/

# Virtual environment
venv/
.venv/

# Jupyter checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db